.Order {
  box-sizing: border-box;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
}

.Item {
  display: inline-block;
  margin: 0 8px;
  padding: 5px 10px;
  text-transform: capitalize;
  border: 1px solid #ccc;
}
