.NavItems {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
}

@media (min-width: 500px) {
  .NavItems {
    flex-flow: row;
  }
}
