.SideDrawer {
  position: fixed;
  box-sizing: border-box;
  z-index: 200;
  padding: 32px 16px;
  left: 0;
  top: 0;
  width: 280px;
  max-width: 70%;
  height: 100%;
  background-color: #fff;
  transition: all 0.3 ease-out;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

.Logo {
  height: 12%;
}
