.NavItem {
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  width: 100%;
}

.NavItem a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
  color: #8f5c2c;
  transition: all 0.3s;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
  color: #cf8f2e;
}

@media (min-width: 500px) {
  .NavItem {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    width: auto;
    height: 100%;
  }

  .NavItem a {
    padding: 16px 10px;
    height: 100%;
    color: #fff;
    border-bottom: 5px solid transparent;
  }

  .NavItem a:hover,
  .NavItem a:active,
  .NavItem a.active {
    background-color: #8f5c2c;
    color: #fff;
    border-bottom: 5px solid #cf8f2e;
  }
}
